[Unit]
Description=demo lxa-fastapi application
After=network.target

[Service]
User=lxa
Group=lxa
WorkingDirectory=/home/lxa/app/src/
Environment="PATH=/home/lxa/app/venv/bin"
EnvironmentFile=/home/lxa/.env
ExecStart=/home/lxa/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target